Flask==0.12.3
Django==1.11.29
requests==2.19.1
urllib3==1.23
PyYAML==4.1
Jinja2==2.10
bcrypt==3.1.4
tensorflow==1.15.0
cryptography==2.3
pillow==6.2.1
psutil==5.6.1
lxml==4.2.5
paramiko==2.4.1
numpy==1.16.0
scipy==1.2.0
jinja2==2.8.1
werkzeug==0.14.1
pycrypto==2.6.1
pyopenssl==17.5.0
xlrd==1.2.0
tensorflow-gpu==1.14.0
torch==1.4.0
pyxdg==0.25
httplib2==0.18.1
mako==1.0.6
chardet==3.0.4
